/* General Styling */
body {
    font-family: 'europa', sans-serif;
    margin: 30px;
    margin-left: 70px;
    margin-right: 70px;
    padding: 0;
    background: #EBE4DE;
    min-height: 94vh;
    display: flex;
    flex-direction: column;
    color: #454545;
}

.preload-image {
    width: 0;
    height: 0;
    overflow: hidden;
    background-image: url('./cover_image/zhiman_b.png'), url('./cover_image/zhiman_r.png'), url('./cover_image/yihao_b.png'), url('./cover_image/yihao_r.png'), url('./cover_image/deni_b.png'), url('./cover_image/deni_r.png'), url('./cover_image/yujia_b.png'), url('./cover_image/yujia_r.png'), url('./cover_image/Rachel_b.png'), url('./cover_image/Rachel_r.png');
}


/* Header */
header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 2vw;
    /* padding: 20px; */
    /* background: #000; */
    color: #454545;
    grid-template-areas:
        "uni-info . . exh-info pro-info"
}

.university-info,
.exhibition-info,
.program-info {
    font-size: 14px;
}

.university-info {
    grid-area: uni-info;
}


.exhibition-info {
    grid-area: exh-info;
}

.program-info {
    grid-area: pro-info;
}

/* Main */

#main_title h1 {
    /* font-size: 4em; */
    margin: 0;
    margin-top: 7vh;
    color: #BA3330;
}

#main_title {
    justify-self: end;
    grid-area: maintitle;
    width: fit-content;
    font-size: 32pt;
    text-align: right;
    /* This will right-align the inline contents */


}

#main-title-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 1vw;
    /* padding: 20px; */
    grid-template-areas:
        "maintitle . . . ."
}

.projects {
    display: flex;
    flex-direction: column;
    /* This will stack the .project divs vertically */
    align-items: left;
    /* This centers the .project divs on the cross axis (horizontally, in this case) */
    gap: 25px;
    /* This sets a gap between the .project divs */
}



.project {
    /* margin-left: 20px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 2vw;
    /* padding: 20px; */
    grid-template-areas:
        ". img title nameProgram ."

}


.project-link {
    text-decoration: none;
    /* Removes the underline from links */
    color: inherit;
    /* Inherits the text color from the parent */
    display: block;
    /* Makes the link a block element to fit the .project div */
}



.projects:hover .project-link:not(:hover) {
    color: #454545;
    transition: color 0.3s ease;
    /* Smooth transition */
}

/* You may need to adjust the thumbnail image opacity or add another overlay if you want the image to look greyed out */
.projects:hover .project-link:not(:hover) {
    color: #45454579;
}


.program-link {
    text-decoration: none;
    /* Removes the underline from links */
    color: inherit;
    /* Inherits the text color from the parent */
}

.program-link:hover {
    color: #929292;
}

.project-thumbnail {
    position: relative;
    grid-area: img;
    width: 100%;
    height: 80px;
    background-size: 100% 100%;
    background-position: center;
    background-size: cover;
    transition: background-image 0.3s ease;
}



.project-thumbnail.hesitation {
    background-image: url('./cover_image/zhiman_b.png');
    /* Image on hover */
}

.project-thumbnail.wait {
    background-image: url('./cover_image/yihao_b.png');
    /* Image on hover */

}

.project-thumbnail.process {
    background-image: url('./cover_image/deni_b.png');
    /* Image on hover */

}

.project-thumbnail.screen {
    background-image: url('./cover_image/yujia_b.png');
    /* Image on hover */
}

.project-thumbnail.text {
    background-image: url('./cover_image/Rachel_b.png');
    /* Image on hover */
}


.project-link:hover .project-thumbnail.hesitation {
    background-image: url('./cover_image/zhiman_r.png');
}

.project-link:hover .project-thumbnail.wait {
    background-image: url('./cover_image/yihao_r.png');
}

.project-link:hover .project-thumbnail.process {
    background-image: url('./cover_image/deni_r.png');
}

.project-link:hover .project-thumbnail.screen {
    background-image: url('./cover_image/yujia_r.png');
}

.project-link:hover .project-thumbnail.text {
    background-image: url('./cover_image/Rachel_r.png');
}



.project-thumbnail .keyword {
    font-weight: bold;
    font-size: 30pt;
    position: absolute;
    left: 0;
    color: #EBE4DE;

}


.nameAndProgram {
    font-size: 20px;
    grid-area: nameProgram;
    display: flex;
    justify-content: space-between;

    font-style: italic;
}

.project-title {
    font-size: 20px;
    grid-area: title;
    /* width: 200px; */

}


.discipline {
    color: #BA3330;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    /* background: #333; */
    color: #454545;
    display: grid;
    gap: 25px 2vw;
    /* padding: 20px; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        ". . . time location"
}

.exhibition-name,
.location-name {
    font-weight: bold;
    color: #BA3330;

}

.location {
    text-align: right;
}

.date-time {
    text-align: right;
}

#time {
    grid-area: time;
    display: flex;
    justify-content: space-between;
}

#location-block {
    grid-area: location;
    display: flex;
    justify-content: space-between;
}

/* Responsive adjustments can be added if needed */