/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background: #fff;
    min-height: 97vh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 18px;
    /* padding: 20px; */
    /* background: #000; */
    color: #454545;
    grid-template-areas: 
    "uni-info . . exh-info pro-info"
}

.university-info,
.exhibition-info,
.program-info {
    font-size: 14px;
}

.university-info{
    grid-area: uni-info;
}


.exhibition-info{
    grid-area: exh-info;
}

.program-info{
    grid-area: pro-info;
}

/* Main */

h1 {
    text-align: right;
    /* font-size: 4em; */
    color: red;
}

#main_title{
    font-size:36pt;
    line-height:100%;
    width: 290pt;
    margin-top:9vh;
    margin-left: 9vw;
    margin-bottom:0;
    /* position: absolute; */
}

.projects {
    display: flex;
    flex-direction: column; /* This will stack the .project divs vertically */
    align-items: center; /* This centers the .project divs on the cross axis (horizontally, in this case) */
    gap: 25px; /* This sets a gap between the .project divs */
}



.project{
    /* margin-left: 20px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    gap: 25px 18px;
    /* padding: 20px; */
    grid-template-areas: 
    ". img title nameProgram ."

}


.project-thumbnail {
    position: relative;
    grid-area: img;
    width: 100%;
    height:70px;
    background-image: url('./Yujia_b.png'); /* Default image */
    background-size: 100% 100%;
    background-position: center;
    transition: background-image 0.3s ease; /* Smooth transition for the hover effect */
}

.project-thumbnail:hover {
    background-image: url('./Yujia_r.png'); /* Image on hover */
}
.project-thumbnail .keyword{
    font-size:30pt;
    position: absolute;
    left: 0;
    color: #eaeaea;

}


.nameAndProgram{
    font-size: 20px;
    grid-area: nameProgram;
    display: flex;
    justify-content:space-between;

}

.project-title {
    font-size: 20px;
    grid-area: title;
    /* width: 200px; */
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: auto;
    width: 100%;
    /* background: #333; */
    color: #454545;
    display: grid;
    gap: 25px 18px;
    /* padding: 20px; */
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". . . time location"
}

.location{
    text-align: right;
}

#time{
    grid-area: time;
    display: flex;
    justify-content:space-between;
}

#location-block{
    grid-area: location;
    display: flex;
    justify-content:space-between;
}
/* Responsive adjustments can be added if needed */

