.infoSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5vh;
    gap: 40px;
}

#individual-project-subTitle{
    margin-top: 0;
}

#individual-project-title{
    font-size: 32pt;
    margin-bottom: 0.3em;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-top: 20px; */
}

.info-block {
    margin-bottom: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw; /* Adjust size as necessary */
}

#keywords{
    text-align: right;
}
.image-placeholder {
    width: 100%; /* Adjust size as necessary */
    padding-top: 50%; /* This will define the height of the square, keeping it responsive and square since it's based on the width */
    background-color: #ccc;
    background-size: cover;
    background-position: center;
}

.image-placeholder.yujia{
    background-image: url('../cover_image/yujia_r.png'); /* Image on hover */
}

.image-placeholder.zhiman{
    background-image: url('../cover_image/zhiman_r.png'); /* Image on hover */
}

.image-placeholder.deni{
    background-image: url('../cover_image/deni_r.png'); /* Image on hover */
}

.image-placeholder.yihao{
    background-image: url('../cover_image/yihao_r.png'); /* Image on hover */
}

.image-placeholder.rachel{
    background-image: url('../cover_image/Rachel_r.png'); /* Image on hover */
}



.content{

    margin-top: 10vh;
}

.content img {
    display: block; /* Makes the image a block-level element */
    max-width: 100%; /* Ensures the image is never larger than its container */
    height: auto; /* Maintains the aspect ratio of the image */
}


main{
    margin-left: 20vw;
    margin-right: 23vw;
}
footer{
    margin-top: 10vw;
}

.home-link {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the text color from the parent */
    display: block; /* Makes the link a block element to fit the .project div */
}


h2{
    font-weight:normal;
}

.content h2{
    font-weight:bold;
    font-size:24pt;
}

h3{
    margin-top: 0em;
    font-size:16pt;
}
p{
    line-height: 150%;
    margin:0;
    /* margin-top: 1.3em; */
    margin-bottom: 2em;
    font-size: 14pt; /* Adjust size as necessary */
}
.infoSection{
    font-weight: lighter;
}

.infoSection p{
    margin-top: 0em;
    margin-bottom: 1em;
}
.content p {
    padding: 0px;
    font-size: 14pt; /* Adjust size as necessary */
    align-self: start;
}

.info-head{
    font-weight:bold;
}


.yk-overview-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0vh;
    gap: 5vw;
}

#yk-image-1{
    width: 50%;

}

#yk-image-3{
    width: 50%;

}

.yihao-link {
    text-align: center;
    text-decoration: none;
    /* Removes the underline from links */
    color: inherit;
    /* Inherits the text color from the parent */
}

.yihao-link:hover {
    color: #929292;
}

#link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Adjust height as needed */
}
#yujia-image-1{
    width: 50%;

}



#yujia-image-2,
#yujia-image-3,
#yujia-image-4,
#yujia-image-{
    width: 100%;

}

#yujia-image-1{
    margin-top:0em;
}

#film-element{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2em;
    gap: 5vw;
}

#shot-viz{

    grid-area: shot;
}

#color-viz{
    grid-area: colors;
}

#camera-viz{
    grid-area: camera;
}

#script-viz{
    grid-area: script;
}




dl {
    margin-left: 0;
    padding-left: 0;
    font-size: 14pt; /* Adjust size as necessary */

  }
  
  dt {
    font-weight: normal;
    margin-top: 1.5em;
  }
  
  dd {
    margin-left: 20px; /* This provides indentation for the description */
  }
  
  ol {
    
    margin-left: 20px; /* Further indentation for nested list */
    
  }
  
  ol[type="a"] {
    list-style-type: lower-alpha; /* Ensures the list is marked with lowercase letters */
  }

  #colorlist li::marker {
    color: #BA3330;         /* Example style */
    font-weight: bold;   /* Example style */
  }


  li{
    font-size: 14pt; /* Adjust size as necessary */

    margin-top: 1.5em;
  }
  
  .highlight {
    color: #BA3330;    /* Change the color */
    font-weight: bold;  /* Make the text bold */
  }


  .image-container {
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: center; /* This centers inline or inline-block elements horizontally */
    margin: 0 auto; /* This centers the container itself if it has a width less than 100% */
}

.image-container img {
    display: block; /* Makes the image a block-level element so it respects text-align */
    margin: 0 auto; /* Adds automatic horizontal margins to center the block-level image */
    max-width: 100%; /* Ensures the image is responsive and does not overflow its container */
}

.image-container p{
    text-align: left; /* This centers inline or inline-block elements horizontally */
}


#zhiman-image-1{
    width:min-content;
}
#zhiman-image-5{
    width:50%;
}
.quotes{
    margin-left: 8vw;
    margin-right: 8vw;
    font-style: italic;
}

.smallTitle{
    margin-top: 4em;
    margin-bottom: 1em;
}

.imageNotes{
    margin-top: 0;
    margin-bottom:2em;
}